.App {
  height: 100%;
  text-align: center;
  font-family: 'slackey', cursive;
}

.App h1 {
  font-size: 70px;
  margin: 0;
}

.login {
  margin-bottom: 20px;
}

button {
  border: none;
  font-family: 'slackey', cursive;
  background: none;
  outline: none;
  font-size: 14px;
}

button:hover {
  font-size: 20px;
}