body {
  height: 92vh;
}
table {
  text-align: center;
  border: 2px solid black;
  border-spacing: 0;
  border-radius: 14px;
  background-color: white;
  padding: 5px;
}
th {
  padding: 8px 0;
}

tr.answer-row {
  height: 8vh;
}

td {
  border: 1px solid black;
  max-width: 25vw;
}

tr.answer-row td {
  overflow: scroll;
}

