body {
  height: 92vh;
}
div {
  justify-content: center;
}

table {
  text-align: center;
  border: 2px solid black;
  border-spacing: 0;
  border-radius: 14px;
  background-color: white;
  padding: 5px;
}

th {
  padding: 8px 0;
  word-wrap: break-word;
}

td {
  max-width: 350px;
  border: 1px solid black;
  white-space: wrap;
  word-wrap: break-word;
}


